html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  color:rgb(243, 243, 243);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  background-color:whitesmoke;
}
ol,
ul {
  list-style: none;
}


blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}



* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 186, 126) rgb(0, 186, 126);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 186, 126);
  border: 2px solid rgb(0, 186, 126);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}




textarea:focus,
input:focus,
button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.chat {
  width:800px;
  min-height:400px;
  height: calc(400px);
  margin: 0px auto;
  margin-top: 20px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

